*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Quicksand', sans-serif;
  text-decoration: none;
  list-style: none;
  }

  .menu{
    background-color: #7ffcee;
    font-family:'Quicksand', sans-serif;
    font-size: 12px;
    list-style:none;
    border:2px solid #c0c0c0;
    float:left;
    }
  
  .menu li{
      position:relative;
      float:left;
      border-right:1px solid #c0c0c0;
      }
  
  .menu li a{color:#333; text-decoration:none; padding:5px 10px; display:block;}
  
  .menu li a:hover{
  background:#035516;
  color:#fff;
  -moz-box-shadow:0 3px 10px 0 #CCC;
  -webkit-box-shadow:0 3px 10px 0 #ccc;
  text-shadow:0px 0px 5px #fff;
  }
  
  .menu li  ul{
    position:absolute;
    top:25px;
    left:0;
    background-color:#fff;
    display:none;
    }
  
  
  
    .menu li ul li{
      border:1px solid #c0c0c0;
      display:block;
      width:150px;
      }

      body{
        text-align: center;
      }
  
      .slide-controller:nth-child(1):checked ~ .slide-show .slides-list{--selected-item: 0;}
.slide-controller:nth-child(2):checked ~ .slide-show .slides-list{--selected-item: 1;}
.slide-controller:nth-child(3):checked ~ .slide-show .slides-list{--selected-item: 2;}
.slide-controller:nth-child(4):checked ~ .slide-show .slides-list{--selected-item: 3;}

.slide-show{
  overflow: hidden;
  width: 100%;
  height: 350px;
}

.slides-list{
  --selected-item: 0;
  --total-items: 4;
  list-style-type: none;
  margin: 10px 0;
  padding: 0;
  position: relative;
  left: calc(var(--selected-item) * -100%);
  width: calc(var(--total-items) * 100%);
  transition: left 5s;
  
  
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
}

.carrossel{
  background-color: #7ffcee;
  width: 160vh;
  height: 100vh;
  overflow: hidden;
  margin: 0px auto;
  box-shadow: 20px 20px 25px rgb(0, 0, 0,0,0);
}

.carrossel ul{
  display: flex;
  list-style: none;
  width: 1000px;
  height: 250px;
}

.carrossel li{
  position: relative;
  
}

@keyframes slid{
  0%{left:0px}
  20%{left:0px}
30%{left:400px}
50%{left: -400px;}
60%{left: -800px;}
90%{left-800px;}
100%{left:0px;}



}

.header{
  background-color: #7ffcee;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  padding: 0px, 25px;
  height: 80px;
  align-items: center;
  text-align: center;
}

.logo img{
  width:50%;
  height: 145px;
  margin-bottom: -28px;
  margin-top: -30px;
  }

  .search input{
    height: 35px;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
  }

  .icons{
    text-align: right;
    margin-right: 30%;
  }
  
  .icons .fa {
    color: #808080;
    text-decoration: none;
    font-size: 22px;
    padding: 0px 10px;
    transition: 0.6s;
  }
  
  .fa:hover{
    background-color: #062103;
    
  }

  .colecao-2022{
    margin-bottom: 15px;
    font-family:'Quicksand', sans-serif; 
    font-size: 40px;
    color:#025b11;
    
  }

  .descricao button{
    background-color: #094c59;
    padding: 1rem 3rem 1rem 3rem;
    border: none;
    border-radius: 5px;
    color: #fff;
  font-size: 1.2rem;
  cursor: pointer;
  transition: 0.3s;
  
  }
  
  .descricao button:hover{
      background-color: #052f0f;
      transform: scaleY(1.1);
  }

  section{
    padding-top: 7rem;
    background-color: #7ffcee
  }
  section h1{
    
    align-items: center;
    text-align: center;
    font-size: 60px;
    font-family:'Quicksand', sans-serif; 
    color:#025b11;
    margin-bottom: 10px;
    
  }

  .comprar{
    background-color: #babac2;
    width: 60%;
  }

  .container-Lançamento{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    overflow: hidden;
    list-style: none;
  
  }

  .img1{
    width: 150%;
    height: 345px;
    margin-left: 8%;
    
    cursor: pointer;
  }
  
    .preco1{
  color: #000000;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
  text-align: center;
  margin-bottom: 24%;
  padding-bottom: 25%;
    }
  
    .preco1:hover{
      color:#025b11;
      font-size: 20px;
      }
  
    .img2{
      width: 70%;
  height: 345px;
  margin-left: 125px;
      cursor: pointer;
    }
    
  .preco2{
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
  text-align: center;
  margin-bottom: 24%;
  padding-bottom: 25%;
  }
  
  .preco2:hover{
    color:#025b11;
    font-size: 20px; 
  }
  
  .img3{
    width: 90%;
    height:345px ;
    margin-right: 20px;
    
    
    cursor: pointer;
    }
  
    .preco3{
      font-size: 15px;
      cursor: pointer;
      transition: 0.3s;
      text-align: center;
      margin-bottom: 24%;
      padding-bottom: 25%;
      }
      
      .preco3:hover{
        color:#025b11;
        font-size: 20px; 
      }
  
      .verao{
        align-items: center;
        text-align: center;
        font-size: 50px;
        font-family:'Quicksand', sans-serif; 
        color:#025b11;
        margin-bottom: 10px;
  
      }
  .img4{
    width:130%;
    height: 52%;
    margin-left: 7%;
    cursor: pointer;
  }
  
  .preco4{
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
    text-align: center;
    margin-bottom: 24%;
    padding-bottom: 25%;
    }
    
    .preco4:hover{
      color:#025b11;
      font-size: 20px; 
    }
  .img5{
    width: 80%;
    height: 52%;
    margin-left: 100px;
    
    cursor: pointer;
  }
  
  .preco5{
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
    text-align: center;
    margin-bottom: 24%;
    padding-bottom: 25%;
    }
    
    .preco5:hover{
      color:#025b11;
      font-size: 20px; 
    }
  .img6{
    width: 90%;
    height: 52%;
    margin-left: 20px;
    
    cursor: pointer;
    
  }
  .preco6{
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
    text-align: center;
    margin-bottom: 24%;
    padding-bottom: 25%;
    }
    
    .preco6:hover{
      color:#025b11;
      font-size: 20px; 
    }
  
  
  .img7{
    width: 90%;
    height: 50%;
    margin-left: 4%;
    cursor: pointer;
    
  }
  
  .preco7{
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
    text-align: center;
    margin-bottom: 24%;
    padding-bottom: 25%;
    }
    
    .preco7:hover{
    color:#025b11;
      font-size: 20px; 
    }
  .img8{
    width: 90%;
    height: 50%;
    margin-left: 3%;
    cursor: pointer;
    
  }
  .preco8{
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
    text-align: center;
    margin-bottom: 24%;
    padding-bottom: 25%;
    }
    
    .preco8:hover{
      color:#025b11;
      font-size: 20px; 
    }
  .img9{
    width: 90%;
    height: 50%;
    cursor: pointer;
    
  }
  
  .preco9{
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
    text-align: center;
    margin-bottom: 24%;
    padding-bottom: 25%;
    
    }
    
    .preco9:hover{
      color:#025b11;
      font-size: 20px; 
    }
  
    .img10{
      width: 70%;
      height: 50%;
      margin-left: -22%;
      cursor: pointer;
      
    }
    
    .preco10{
      font-size: 15px;
      cursor: pointer;
      transition: 0.3s;
      text-align: center;
      margin-bottom: 24%;
      padding-bottom: 25%;
      
      }
      
      .preco10:hover{
        color:#025b11;
        font-size: 17px; 
      }
  
      .img11{
        width: 125%;
          height: 50%;
          cursor: pointer;
          margin-left: -40%;
        
      }
      
      .preco11{
        font-size: 17px;
        cursor: pointer;
        transition: 0.3s;
        text-align: center;
        margin-bottom: 24%;
        padding-bottom: 25%;
        
        }
        
        .preco11:hover{
          color:#025b11;
          font-size: 20px; 
        }
  
        .img12{
                
          width: 96%;
          height: 50%;
          margin-right: 1%;
          cursor: pointer;
        }
        
        .preco12{
          font-size: 18px;
          cursor: pointer;
          transition: 0.3s;
          text-align: center;
          margin-bottom: 24%;
          padding-bottom: 25%;
          
          }
          
          .preco12:hover{
            color:#025b11;
            font-size: 20px; 
          }
  
          .img13{
            width: 95%;
            height: 50%;
            margin-left: 5%;
            
            cursor: pointer;
            
          }
          
          .preco13{
            font-size: 18px;
            cursor: pointer;
            transition: 0.3s;
            text-align: center;
            margin-bottom: 24%;
            padding-bottom: 25%;
            
            }
            
            .preco13:hover{
              color:#025b11;
              font-size: 20px; 
            }
  
            .img14{
              width: 82%;
              height: 50%;
              margin-left: -13%;
              
              cursor: pointer;
              
            }
            
            .preco14{
              font-size: 18px;
              cursor: pointer;
              transition: 0.3s;
              text-align: center;
              margin-bottom: 24%;
              padding-bottom: 25%;
              
              }
              
              .preco14:hover{
                color:#025b11;
                font-size: 20px; 
              }
  
              .img15{
                width: 120%;
                height: 50%;
                margin-left: -35%;
                
                cursor: pointer;
                
              }
              
              .preco15{
                font-size: 18px;
                cursor: pointer;
                transition: 0.3s;
                text-align: center;
                margin-bottom: 24%;
                padding-bottom: 25%;
                
                }
                
                .preco15:hover{
                  color:#025b11;
                  font-size: 20px; 
                }

                .cart-outline{
  
                  font-size: 35px;
                }