*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Quicksand', sans-serif;
  text-decoration: none;
  list-style: none;
  }

  .menu{
    background-color: #7ffcee;
    font-family:'Quicksand', sans-serif;
    font-size: 12px;
    list-style:none;
    border:2px solid #c0c0c0;
    float:left;
    }

    
  